.header {
    &__wrapper {
        display: flex;
        align-items: center;
        padding: 32px 0;
        justify-content: space-evenly;
    }
    &__list {
        display: flex;
        gap: 50px;
        list-style: none;
    }
    &__link {
        font-weight: 400;
        font-size: 32px;
        color: #000;
        text-decoration: none;
        list-style: none;
        transition: 0.3s;
        margin-bottom: 62px;
        &:hover {
            color: #635e6e;
        }
    }
}
