.info {
    &__wrapper {
        padding-left: 50px;
    }
    &__title {
        display: flex;
        font-weight: 700;
        font-size: 64px;
        text-align: center;
        color: #000;
        padding-bottom: 43px;
    }
    &__text {
        font-weight: 400;
        font-size: 32px;
        color: #191919;
    }
}
